name: uiview_mre
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  objective_c: ^9.2.2

dev_dependencies:
  flutter_lints: ^6.0.0
  ffigen: ^20.1.1

flutter:
  uses-material-design: true
